body {
    margin: 0;
    /* overflow-y: hidden; */
    font-family: 'Poppins', sans-serif;
    cursor: wait;
}

img {
    width: 100%;
    height: 100%;
    z-index: -999;
    position: absolute;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

#board {
    display: flex;
    margin-bottom: 20px;
    transform: rotate(180deg);
    box-shadow: -150px -150px 150px black;
    border-radius: 50px;
}

.column {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: -150px -150px 150px black;
}

.slot {
    height: 80px;
    width: 80px;
    overflow: hidden;
    position: relative;
    border: 30px solid rgb(44, 0, 78);

}

.hole {
    height: 70px;
    width: 70px;
    left: -17px;
    border: 22px solid rgb(44, 0, 78);
    top: -17px;
    border-radius: 50%;
    position: relative;

}

.hole.player1 {
    background: rgb(255, 0, 129);
    background: radial-gradient(circle, rgba(255, 0, 129, 1) 0%, rgba(255, 0, 0, 1) 52%, rgb(173, 0, 0) 100%);
    border-radius: 100px;
    animation: gelatine 0.5s infinite;
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.95, 1.05);
    }

    50% {
        transform: scale(1.04, 0.96);
    }

    75% {
        transform: scale(0.97, 1.03);
    }
}

.hole.player2 {
    background: rgb(232, 255, 0);
    background: radial-gradient(circle, rgba(232, 255, 0, 1) 0%, rgba(255, 188, 0, 1) 52%, rgba(255, 106, 0, 1) 100%);
    animation: bounce2 2s ease infinite;
    border: 30px solid rgb(44, 0, 78);
    left: -25px;
    top: -20px;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.column:hover {
    background-color: #60fcfc6c;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.551) 0%, rgba(0, 213, 255, 0.562) 100%);
}

.slot.row01 {
    border-top-left-radius: 50px;
}

.slot.row51 {
    border-bottom-left-radius: 50px;
}

.slot.row02 {
    border-top-right-radius: 50px;
}

.slot.row52 {
    border-bottom-right-radius: 50px;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -999;
    opacity: 0;
    transition: all 2s ease;

}

.backdrop.hidden {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    z-index: 900;
}

.gameresult {
    width: 500px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid brown;
    background-color: rgb(255, 220, 105);
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -998;
    font-size: 2rem;
    opacity: 0;
}

.gameresulttext {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.gameresult.hidden {
    z-index: 999;
    opacity: 1;
}

.restartbtn {
    font-size: 1.5rem;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}


.startthegame {
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background: linear-gradient(-45deg, #904a34, #750606, #005e80, #f8fc00);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label{
    font-size: 25px;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.startthegame.hidden {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.startthegamebtn {
    font-size: 1.5rem;
    color: black;
    /* border: 5px solid black; */
    opacity: 1;
    border: 5px solid;
    border-image: linear-gradient(-45deg, purple, orange)1;
    border-radius: 50px;

}


.startthegamebtn.hidden {
    font-size: 1.5rem;

    color: rgb(255, 255, 255);
    border: 5px solid;
    border-image: linear-gradient(-45deg, rgb(255, 36, 255), rgb(255, 193, 79))1;
    border-radius: 30px;
    opacity: 0;
    transition: all 3s ease;
}
#input1{
    background-color: #ff4646;
    border-radius: 30px;
    width: 200px;
    height: 20px;
}

#input2 {
    background-color: rgb(255, 255, 86);
    border-radius: 30px;
    width: 200px;
    height: 20px;
}
/* .reversebtn{
    position: absolute;
} */

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 30px;
}

#newGame{
    cursor: pointer;
    background-color: #ff4646;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 1%;
    z-index: 30;
    border-radius: 50px;
    font-size: 25px;
}